.carousel-item{
    height: 100vh;
    min-height: 300px;
    background-size: cover;
}

.anuncios{
    background-color:#a83338 ;
    
}

.anuncio_oferta{
    /* height: 75vh; */
    padding: 30px;
    border-radius: 5px;
    
}