.anuncios{
    background-color:#a83338 ;
    
}

.anuncio_oferta{
   filter: drop-shadow(5px 5px 30px black);
}

.tarjetas{
    transition: 1s;
}

.tarjetas:hover{
    transform: scale(1.1);
    transition: 1s;
    cursor: pointer;
}

.imagen_fondo{
    width: 100%;
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: linear-gradient(rgba(5,7,12,0.45), rgba(5,7,12,0.45)), url('https://res.cloudinary.com/dbl4ugndy/image/upload/v1698608266/baby-4978580_1280_vekmgk.jpg');
    color: white;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
}

hr{
    height: 20px;
    width: 75%;
    display: flex;
    justify-content: center;
    background-color:#a83338;
    text-align: center;
}

.eventos_info{
    background-color: #FFD6CD;
}

