.anuncios{
    background-color:#a83338 ;
    
}

.anuncio_oferta{
   filter: drop-shadow(5px 5px 30px black);
}

.tarjetas{
    transition: 1s;
}

.tarjetas:hover{
    transform: scale(1.1);
    transition: 1s;
    cursor: pointer;
}